:root{
    --main-bg-color: #1c1917;
    --off-black: #292524;
    --gray: #44403c;
    --white: #fafaf9;
    --off-white: #d4d4d4;
}
body{
    height: 100vh;
    text-align: center;
    color: var(--off-white);
}
header{
    min-height: 15%;
    background-color: var(--main-bg-color);
}
h1{
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: bold;
}
main{
    height: 85%;
    background: url('./assets/background.jpg'), no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#content{
    width: 500px;
    background: rgb(0,0,0, .75);
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 5%;
}
#content button{
    margin: 1rem;
}

/*home content styling*/
#content > h2, h3{
    margin-top: 1rem;
    color: var(--white);
}
#content h2{
    border: 1px solid white;
    border-left: none;
    border-right: none;
}
h3{
    font-weight: 50;
}
.description{
    margin: 25px;
    line-height: 2rem;
}
/*Menu content styling*/
.menuTitle{
    border: 1px solid white;
    border-left: none;
    border-right:none;
}

/*contact content styling */
#content div{
    margin: 2rem;
    font-size: 2rem;
}
.title{
    border: 1px solid white;
    border-left: none;
    border-right: none;
    color: var(--white);
}

button{
    font-size: 2rem;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    color: var(--off-white);
    background-color: var(--main-bg-color);
    border: 3px solid var(--off-white);
    border-radius: 25%;
    margin: 0 1rem 0 1rem;
}
button:hover{
    color: var(--white);
    border: 3px solid var(--white);
}
button:active{
    color: var(--off-white);
    border: 3px solid var(--off-white);
    border-style: inset;
}
img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}